{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{%- block field %}
    {% apply spaceless %}
        {% if field_description.option('collapse') is not null %}
            {% set collapse = field_description.option('collapse') %}
            <div class="sonata-readmore"
                 data-readmore-height="{{ collapse.height|default(40) }}"
                 data-readmore-more="{{ collapse.more|default('read_more')|trans({}, 'SonataAdminBundle') }}"
                 data-readmore-less="{{ collapse.less|default('read_less')|trans({}, 'SonataAdminBundle') }}">{{ value }}</div>
        {% elseif field_description.mappingType == "decimal" %}
            {{ value | format_currency('EUR', {rounding_mode: 'floor'}) }}
        {% else %}
            {{ value }}
        {% endif %}
    {% endapply %}
{% endblock -%}
